---
# NEVER COMMIT THESE VALUES TO GIT
version: "2.0"
secrets:
    # These are credentials to allow you to push to your image registry (quay.io) for application images
  - name: imageregistry
    fields:
    # eg. Quay -> Robot Accounts -> Robot Login
    - name: username
      value: "..username.."
    - name: password
      value: "..password.."
