---
secrets:
  # NEVER COMMIT THESE VALUES TO GIT
  imageregistry:
    # These are credentials to allow you to push to your image registry (quay.io) for application images
    username: PLAINTEXT
    password: PLAINTEXT
