---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  namespace: quarkuscoffeeshop-cicd
  generateName: quarkuscoffeeshop-counter-
  labels:
    app: quarkuscoffeeshop-counter
    argocd.argoproj.io/instance: quarkuscoffeeshop-cicd
    tekton.dev/pipeline: build-and-push-quarkuscoffeeshop-counter
spec:
  pipelineRef:
    name: build-and-push-quarkuscoffeeshop-counter
  resources:
    - name: app-git
      resourceRef:
        name: quarkuscoffeeshop-counter-git
    - name: image
      resourceRef:
        name: quarkuscoffeeshop-counter-image
  serviceAccountName: pipeline
  timeout: 1h0m0s
  workspaces:
    - name: shared-workspace
      persistentVolumeClaim:
        claimName: quarkuscoffeeshop-counter-shared-workspace-pvc
    - name: maven-settings
      persistentVolumeClaim:
        claimName: quarkuscoffeeshop-counter-maven-settings-pvc
